<h1>Sandwich Order #<%= @order_num %></h1>

<p><%= @greeting %>,</p>
<p>Another sandwich order here for <%= Date.today %>:</p>
<ul>
  <li>Name: <%= @order_name %></li>
  <li>Order number: <%= @order_num %></li>
  <li>Name: <%= @type %></li>
  <li>Name: <%= @instructions %></li>
</ul>
<p>Now get 'er done!</p>
<br>
Sincerely,
<br>
SandwichMe Bot