<h1>Congrats!</h1>

<p>
  Your order was successfull emailed to General Things. Well done, 
  <%= @order.name %>.
</p>

<blockquote>
  <q><%= @quote[:text] %></q>
  <br>
  <em> - <%= @quote[:author] %></em>
</blockquote>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://sandwich-me.herokuapp.com/" data-text="I just ordered a sandwich from General Things Inc." data-size="large" data-count="none" data-hashtags="sandwichme">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<br>
<br>

<p>Here are the details of your order:</p>
<ul>
  <li><b>Name:</b> <%= @order.name %></li>
  <li><b>Order number:</b> <%= @order.id %></li>
  <li><b>Type of sandwich:</b> <%= @order.type %></li>
  <li><b>Name:</b> <%= @order.instructions %></li>
</ul>
<h2>Would you like to order another sandwich?</h2>
<%= link_to "Order another!", { controller: "orders", action: "new" }, class: "btn-large btn-info" %>
